{{define "login"}}
<!DOCTYPE html>
<html>
  {{template "head" .}}

  <body>
    <div class="columns is-flex is-vcentered is-centered is-fullheight">
      <div class="column is-one-quarter-desktop is-vcentered">
        <form action="/connection" method="post">
          <div class="field">
            <label class="label">Pseudo</label>
            <div class="control">
              <input class="input" type="text" name="name" />
            </div>
          </div>
          <div class="control">
            <input class="button is-primary" type="submit" value="Connect" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
{{end}}
